.page-main-section .main-section-contacts-list {
  list-style: none;
  display: flex; flex-flow: row wrap;
  align-items: center; justify-content: flex-start;
}

.page-main-section .main-section-contacts-list .contacts-list-contact {
  margin-right: 0.33rem;
  box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box;
  -moz-box-sizing: border-box; -o-box-sizing: border-box;
  margin-right: 5px;
  padding-left: 30px; padding-right: 5px;
  background-size: contain;
  background-repeat: no-repeat;
}

.page-main-section .main-section-contacts-list .contacts-list-contact::after {
  content: "|";
}

.page-main-section .main-section-contacts-list .contacts-list-contact:last-child::after {
  content: "";
}

.contacts-list-contact a {
  color: #3b3a3c; font-weight: bold;
  text-decoration-color: #3b3a3c;
}

.contacts-list-contact.contact-gsm {
  background: url( "../img/velcom-icon.svg" );
}

.contacts-list-contact.contact-email {
  background: url( "../img/email-icon.svg" );
}

.contacts-list-contact.contact-viber {
  background: url( "../img/viber-icon.svg" );
}

.contacts-list-contact.contact-whatsapp {
  background: url( "../img/whatsapp-icon.svg" );
}

.contacts-list-contact.contact-skype {
  background: url( "../img/skype-icon.svg" );
}
