.page-header {
  background-color: #3b3a3c;
  color: #e7e4e7;
  margin-bottom: 1em;
}

.page-header-section{
  position: relative;
  display: flex; flex-flow: row wrap;
  align-items: center; justify-content: center;
}



.page-header-navbar {
  box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box;
  -moz-box-sizing: border-box; -o-box-sizing: border-box;
  background-color: #e7e4e7;
  color: #3b3a3c;
  border: 5px solid #3b3a3c;
  padding-top: 1px;
}

.navbar-toc-list{
  display: flex; flex-flow: row wrap;
  align-items: center; justify-content: flex-start;
  box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box;
  -moz-box-sizing: border-box; -o-box-sizing: border-box;
  padding-left: 1em;
}

.navbar-toc-list .toc-list-item{
  display: inline-block;
  /* padding-top: 0.3em; padding-bottom: 0.3em; */
  box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box;
  -moz-box-sizing: border-box; -o-box-sizing: border-box;
  border: 1px solid transparent;
}

.navbar-toc-list .toc-list-item a{
  background-color: inherit; color: inherit;
  text-decoration-color: transparent;
  padding-left: 0.5em; padding-right: 0.5em;
}

.navbar-toc-list .toc-list-item:hover,
.navbar-toc-list .toc-list-item:focus {
  transition: 0.53s linear;
  color: #e7e4e7;
  background-color: #8e9093;
}


