.page-header {
  background-color: #3b3a3c;
  color: #e7e4e7;
  margin-bottom: 1em;
  display: flex; flex-flow: row wrap;
  position: relative;
}

.page-header-section{
  position: relative;
  display: flex; flex-flow: row wrap;
  align-items: center; justify-content: center;
}

.page-header-section-image{
  width: 500px; max-width: 100vw;
}

.page-header-section-image .page-header-figure{
  max-width: 100%;  position: relative;
  display: flex; flex-flow: row wrap;
  align-items: center; justify-content: stretch;
}

.page-header-section-image .page-header-figure img{
  max-width: 100%; height: auto; max-height: 300px;
}

.page-header-section-image .page-header-figure figcaption{
  position: absolute; bottom: 0; right: 0;
  background-color: #3b3a3c77; width: 100%;
  box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box;
  -moz-box-sizing: border-box; -o-box-sizing: border-box;
  padding: 8px; text-align: center;
}

.page-header-section-names{
  font-size: 2.25rem; font-weight: bold;
  line-height: 1.33;
  word-wrap: wrap;
  text-transform: uppercase;
  max-width: 100%;
  box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box;
  -moz-box-sizing: border-box; -o-box-sizing: border-box;
  padding-left: 1rem; padding-right: 1rem;
}

.page-header-section-info-link{
  position: absolute;
  background-color: #e4e7e4;
  color: #3b3a3c;
  right: 1rem; top: 1rem;
  visibility: hidden;
  box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box;
  -moz-box-sizing: border-box; -o-box-sizing: border-box;
  padding: 10px; border-radius: 5px;
  font-size: 0.8rem;
}

.page-header:hover .page-header-section-info-link{
  visibility: visible;
}


.page-header-navbar {
  box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box;
  -moz-box-sizing: border-box; -o-box-sizing: border-box;
  background-color: #e7e4e7;
  color: #3b3a3c;
  border: 5px solid #3b3a3c;
  padding-top: 1px;
  flex: 8;
}

.navbar-toc-list{
  display: flex; flex-flow: row wrap;
  align-items: center; justify-content: space-between;
  box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box;
  -moz-box-sizing: border-box; -o-box-sizing: border-box;
  padding:0.2rem 0.7rem;;
}

.navbar-toc-list .toc-list-item{
  display: inline-block;
  /* padding-top: 0.3em; padding-bottom: 0.3em; */
  box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box;
  -moz-box-sizing: border-box; -o-box-sizing: border-box;
  border: 1px solid transparent;
}

.navbar-toc-list .toc-list-item a{
  background-color: inherit; color: inherit;
  text-decoration-color: transparent;
  padding-left: 0.5em; padding-right: 0.5em;
}

.navbar-toc-list .toc-list-item:hover,
.navbar-toc-list .toc-list-item:focus {
  transition: 0.53s linear;
  color: #e7e4e7;
  background-color: #8e9093;
}


